{% extends "navbar.html" %}

{% block top %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crossbin</title>
    <meta name="description" content="Crossbin is a document sharing and publishing website for text-based information.">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='crossbin.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='files/crossbin.css') }}">
</head>
<body>
{% endblock %}

{% block bottom %}
<div class="db-page">
    <div class="db-index">

        <div class="db-logo">
            <pre style="font: 4px/6px monospace; overflow: hidden; color: white; background: transparent; border: none;">
                                                                           @                                                     
                                                                         . @ .                                                     
                                                                  @%,   % @ @.&    &%                                                 
                                                                 ..@  @@ %   &.@%  &.,                                                                
                                                      ( @       .% &     ,, ./    .# @/       & .                                          
                                                    ..&*.@     #(@(    /   @   .     @@@     @.(@,.                                          
                                           /.    #*   /  @ && (%@#. (@    @ @..  %# .@@&& #& (  %   .* .  /%                                    
                                          @  @  #( ,. *,, @%@  & # #,   .&&*&@*    @ * %  @(* #%. .  &@  @  @                                         
                                        / %%.(/#* @   / % # @# /@  *&  &/*&&% ,&. %(  @@ *& @ @ #   & .%/#.@@ ,                                      
                                        @ *& /,.(.@%(&  &   ./@ @ /%  %.. & & * %  %# @ @%%   %  @(%& #.,* @#.%*                                      
                                     %@@ %,#& %&.@ @&@/# @  #/,%,*,#%(@(  @ @  @@(#&(@,%./@  @ @%&// ,%&( &% @  &,                                    
                                 @  ## %  (@/% /,.@*#@ ( % &%#.## %,#%.@  @ #  @ %(*/ * @&/# (#  ,& &@/%.&% ( &  @  /.                                
                               *  /  (.#  .      .@,@ , @%, &@.@@ #@/@ ./     #  @(@*,@@ @% #.( /%,@..      .  */@  &@ @                              
                               ,,@,@    *    & /  / %@.&@( @@ // /@%     @   @     &&% @& @. &   .& . ,  .   ,     , ,/                               
                             */@* @,       &(@&.  #@     @@ @/@@@     @    @    @     @@@,@ @%@@@  @,  .@(@#   /   &, @@#                             
                             .&(#.  ./@&  @@.#&##@ @ @ @  &  /@ %   @ * % # @ @ * &   @.@. %@  # @.@.@##&/*%%  @@// .*. (                             
                    #   &      %% (/%@@@@ @%#  && .&.@ &#@@.@ @    /@ #@%@, .(/@, @*  ,*@ @ &&*( @ @. &&  %@@ &@@@ ,, %&      @  (                    
                   *%(&#@& /%% @ /, ,&(%,& @@  &(,/   . ( *&@#(&/ @,# #@       @* /(@ *&/ @&*,&*, . &,(&  && @((&@%*@  / @@  /%,(%(                   
                 @@  ,,@ & (@@ %@* @@@ @(@,  /     @ @&@ @/  @&     /  ( (, .@ ,. .     &@  .@*@@& &     ,  .@(@ @&@  @*  ,@   .*  ...                
          @(#     *( # &   ,% @/  # @& @.  @ @%#(&  #,     .& #* #   *(@@ @.@ @@//   &  / @* .  / &  @(#%@ @  .@ @@ @  **./ #  / #  @@,   @*&         
        @, @@ &# @% #   .@   ..#%&.    @@/. @%,#@ @@  *, (@@.@, #& @#@.&&@* #%(@/@%@ @, .@.@#@ ( / @@ @#(@@ .(@@     &  *.,  @ . *  & , % ,. &        
         (.(&/(*%* &  %&%. ,* @ /.@ /.(   (#&#/.&  @ % @@ #  / @ @%%(//((@@&@@#(//#%&@ @ /. & %@ / @  @.*#%#(   * ,*&(#  (@  /@@/    @//@  @/         
         @ (@ #   @ @@*@@ @ # @ *  ,/@ @  @   &,(..@ . @@.  &@,.,@@&@@@@&&@@@@@@&&@@@@/  &&...%@ ..#  #.&  .(  @ @    @#. @  #@& *@,    @ #@ /        
             /@@@@.  %. * @  #//@(/( *@  *  % //.. &.@ .(( .&@@@@&&@@@@@@&@&@@&@&@@@@&@@&@@  /(  %.&.,.*( @  /  @ ./((@** @  #  /*  *@&@@.            
          *@@            @   @  & (&%( ( @@@/(&#.&  .%&.,&&@@@@&&&&@@(.(@(  ,(&(.#@&@&@@&@@&@@. @*. ,% @@((@@@ & (%&% @   @   &       @@ *@@          
              .&    @  @&((./  #, @@(&@@@@%**  ,...*/  @@&&@@&@@@&@&@...  @ @.   .@&@&@@&@@&@@@@ .//.   . ,/#@@@@&(@@ @. ,,*((,%  *%, &*              
              @#%,@& @,/@,*   (.@  @,        @&,,,@ .@@@@%#..  *@/ ..  ..%,//@   ..  *@( .. @&@@@@. @%  @@        #&  @@(  & @@ #  @@ #%@             
            @ *.(%((%@//#*/@% @       ,,@  /* #*@&  @@@@@.(.(&@ .  ..  ..&(%#@   ..   ..&#% , @@@@@  @@ ( //  % /    @  * ,.*(# @@(((&/.* ,           
               @@@@     &@*% (@ &##   /@ @ @/@*/@..@@&/.. @&@...    ..@.  * #.  @ .....   @@@.  *@@&  @&#@*% # @,   @@  & @@&@/     %@@(              
                . .  @@// .@(@@ / @(   @%* (@%... @%@#@   ,(((*         @*@ @,@         /(((,   @&@@@    %@, ((@   *& % % @@, /(.(  @@*&              
                ,     *,@ *.   @         /.@   @  @  /@.       . @@@@,   @ @ @   .@@@@ .       .@#  @  @. /@ %         @ *  / @  @   .                
                 @@   /%(./   &  @. .&   @(  % @ .&       ##/,.*(#  .@@@#     /@@@*  #(*,,/##       (( # (  *@   @, .@  &   *,@@    ..                
               * @&&.   , @% @ @. (         ,  .  ( #@&@@@@@@@@#&@@@ ,        ,  . @@@@@/&@@@&@@@@% ,(    (    .,   @/,% *( @ (  (*@,, @              
         (*#&, @*   #(/&,.@.% @**      @@ @ @@( @ &    ./@@ @ &@/ #  @           @, * (@% & @@#,    #/@ @@& @ @@   @& @&@ (*@ %#(%*  / / (%# %        
           @ @   @ .(    @@&@ @@@    /&  / , & @  @  .    @*@@@@@@@#  . *     . ,  (@@@@@@@(@  . .  @  & & *   .&#@ @  ,*,&&      &@.&   .  /,        
            @           *###@ @/#   /#&/(#,&@@..% @                                                 & &..@@&*(#/&((   /#,  @@(/         @             
             *@./ @    @ &  %(/   & %  #@    @  @.@.                                                @ @  @    @,  @ %   .@@  & @    * @(*@            
                     @  &#%/,@   ..@( (  .,(#   @. @                            @       .&         @ *@   %&.   % &&  .  @**&#%  &                    
              .@@.  %  @.,& @@  @   #((@   .   @% #*                   &@     @@.          @       #@ *@.  .   @,*&  *@  @# &/.#  @  #&%              
              @.,* @#  @&(  @&  # @  , *(*@@@, @@ /@&                 @ &,    & &           #     @@@ @@ ,&@@%&, ,  & @  @@ .& .  @, *.(/             
               *  ,&@.  *&    /, @  @ ,   ,. ,@ @ ,.#@                     % ,              .    @. * @ @,  ,   / @  @ .@ .   @  @%@ .%               
                ,,& .*@  @  &%**%(.%   *&,  %@ & @  % /           @*%%,    (. ..,#%.@     ,     # *  @ @ #(  .@* . #,/%*/&/  * .,@   /                
                   %%    @ ,@,   . .#&%@(,..**@# , @@   @            . #   @   * %(.  .%%     @   @@@@.*@/#..,(@%@*  % * *& ,%    &                   
            </pre>
        </div>

        <div class="db-index-links">
            <a href="{{ url_for('index') }}">Crossbin</a>
            <a href="{{ url_for('index') }}" style="color:#08efff;">Free and Open Source</a>
            <a href="{{ url_for('list_of_pages') }}">All Pages</a>
        </div>

        {% if query %}
        <div class="db-search-banner">
            Showing results for <strong>"{{ query }}"</strong> &mdash;
            <a href="{{ url_for('index') }}">Clear search</a>
        </div>
        {% endif %}

        <div class="db-section-title">Admin Pastes</div>
        <table class="db-table">
            <thead>
                <tr>
                    <th class="col-title">Title</th>
                    <th class="col-by">By</th>
                    <th class="col-date">Date</th>
                    <th class="col-time">Time</th>
                    <th class="col-size">Size</th>
                </tr>
            </thead>
            <tbody>
                {% for p in admin_posts_list %}
                <tr class="admin-row">
                    <td class="col-title">
                        <a class="paste-link" href="{{ url_for('admin_post', file=p.name) }}" title="{{ p.name }}">{{ p.name }}</a>
                    </td>
                    <td class="col-by">
                        {% if p.author %}
                            <a href="{{ url_for('user_profile', username=p.author) }}" style="color:{{ rank_colors.get(p.author_rank, '#cc3333') }}; text-decoration:none;">{{ p.author }}</a>
                        {% else %}
                            <span class="by-admin">Admin</span>
                        {% endif %}
                    </td>
                    <td class="col-date" style="color:#555;">{{ p.creation_date }}</td>
                    <td class="col-time" style="color:#555;">{{ p.creation_time }}</td>
                    <td class="col-size" style="color:#444;">{{ p.size }} KB</td>
                </tr>
                {% else %}
                <tr><td colspan="5" class="no-pastes">No admin pastes.</td></tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="db-section-title" style="margin-top:28px;">Anonymous Pastes</div>
        <table class="db-table">
            <thead>
                <tr>
                    <th class="col-title">Title</th>
                    <th class="col-by">By</th>
                    <th class="col-date">Date</th>
                    <th class="col-time">Time</th>
                    <th class="col-size">Size</th>
                </tr>
            </thead>
            <tbody>
                {% for p in anon_posts_list %}
                <tr>
                    <td class="col-title">
                        <a class="paste-link" href="{{ url_for('post', file=p.name) }}" title="{{ p.name }}">{{ p.name }}</a>
                    </td>
                    <td class="col-by">
                        {% if p.author %}
                            <a href="{{ url_for('user_profile', username=p.author) }}" style="color:{{ rank_colors.get(p.author_rank, '#666') }}; text-decoration:none;">{{ p.author }}</a>
                        {% else %}
                            <span class="by-anon">Anonymous</span>
                        {% endif %}
                    </td>
                    <td class="col-date" style="color:#555;">{{ p.creation_date }}</td>
                    <td class="col-time" style="color:#555;">{{ p.creation_time }}</td>
                    <td class="col-size" style="color:#444;">{{ p.size }} KB</td>
                </tr>
                {% else %}
                <tr><td colspan="5" class="no-pastes">No anonymous pastes yet.</td></tr>
                {% endfor %}
            </tbody>
        </table>

        <div style="text-align:center; margin-top:40px;">
            <a href="#" style="color:#333; font-size:11px;">Back to top</a>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}
